html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.menu {
    margin: 10px auto;
    width: 300px;
    height: 100px;
    padding-top: 30px;
}
 
.products {
    column-count: 3;
}

.value {
    width: 500px;
}

.value img {
    width: 300px;
    height: 400px;
}
